.form {
  width: 100%;
  max-width: 480px;
  margin-top: 3rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.form-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  padding: 1.5rem 0 0 0;
  border: none;
  cursor: pointer;
  color: #757575;
  font-size: 1rem;
  background-color: transparent;
}

.form-rating--selected {
  color: #000;
  font-weight: 600;
}

.form-rating:hover,
.form-rating:active,
.form-rating:focus {
  outline: none;
  color: #000;
}

.form-rating-emoji {
  font-size: 30px;
  padding-bottom: 1rem;
}

.form-rating--selected > .form-rating-emoji {
  transform: scale(1.7);
}

.form-rating:hover:not(.form-rating--selected) > .form-rating-emoji,
.form-rating:focus:not(.form-rating--selected) > .form-rating-emoji {
  transform: scale(1.1);
}

#rating1 > .form-rating-emoji {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

#rating2 > .form-rating-emoji {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

#rating3 > .form-rating-emoji {
  transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes expand {
  0%,
  100% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(2);
  }
}

#rating4.form-rating--selected > .form-rating-emoji {
  animation-name: expand;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

/* Mobile styles */

@media screen and (max-width: 425px) {
  .form {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 368px) {
  .form-rating-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
